<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Story | Luc Cui</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/breakpoint.css">
</head>
<body>
    <div class="container">
        <nav class="sidebar__pc">
            <ul class="sidebar__pc--navlist">
                <li class="sidebar__pc--navitem">
                    <a href="../index.html" class="sidebar__pc--navlink">Home</a>
                </li>
                <li class="sidebar__pc--navitem">
                    <a href="" class="sidebar__pc--navlink">Contact</a>
                </li>
                <li class="sidebar__pc--navitem">
                    <a href="" class="sidebar__pc--navlink">Settings</a>
                </li>
                <li class="sidebar__pc--navitem">
                    <a href="" class="sidebar__pc--navlink">Facebook Tools</a>
                </li> 
            </ul>
        </nav>
        <div class="sidebar__mobile">  
            <button class="sidebar__mobile--btn">
                <label for="openSideBar">
                    <span class="material-icons">add</span>
                </label>
            </button>  
            <input type="checkbox" id="openSideBar" hidden >
            <label class="overlay" for="openSideBar"></label>
            <ul class="sidebar__mobile--navlist">
                <li class="sidebar__mobile--navitem">
                    <a href="" class="sidebar__mobile--navlink">Home</a>
                </li>
                <li class="sidebar__mobile--navitem">
                    <a href="" class="sidebar__mobile--navlink">Contact</a>
                </li>
                <li class="sidebar__mobile--navitem">
                    <a href="" class="sidebar__mobile--navlink">Settings</a>
                </li>
                <li class="sidebar__mobile--navitem">
                    <a href="" class="sidebar__mobile--navlink">Facebook Tools</a>
                </li> 
            </ul> 
        </div>
        <main class="content">
            Upload Story
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script  src="../script.js"></script>
</body>
</html>