/* Phone */
@media (max-width: 739px) {
    .sidebar__pc {
        display: none;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .sidebar__mobile {
        display: none;
    }
}
/* Tablet PC man hinh nho */
@media (min-width: 1024px) and (max-width: 1239px) {
    .sidebar__mobile {
        display: none;
    }
}

@media (min-width: 1240px) {
    .sidebar__mobile {
        display: none;
    }
}